---
import Layout from "../layouts/Layout.astro";
import PredictComponent from "@/components/predict-form";
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <PredictComponent client:load />
  </main>
</Layout>
